body {
    font-family: 'Merriweather', serif;       /* Set font to Roboto */
    background-color: #f7f7f7;               /* Light grey background */
    color: #333;                             /* Dark grey text color */
    margin: 0;                               /* Remove default margin */
    padding: 45px;                           /* Add padding around the body */
    text-align: center;                      /* Center text alignment */
}

.container {
    max-width: 800px;                        /* Max width for the container updated */
    margin: auto;                            /* Center the container */
    background: #fff;                        /* White background for the container */
    padding: 30px;                           /* Inner padding */
    border-radius: 10px;                     /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

h1 {
    font-family: 'Merriweather', serif;
    color: #2c3e50;  
    font-weight: bold                        /* Dark blue for main heading */
}

h2 {
    font-family: 'Merriweather', serif;
    color: #34495e;                          /* Slightly lighter blue for subheading */
    font-size: x-large;
    font-weight: bold
}
h3 {
    font-family: 'Merriweather', serif;
    color: #172736;                          /* Slightly lighter blue for subheading */
    font-size: larger;
    font-weight: bold
}

input[type="text"],
input[type="file"],
textarea {
    width: 85%;                             /* Full width input updated */
    padding: 20px;                           /* Padding inside inputs */
    margin: 15px 0;                          /* Margin above and below */
    border: 2px solid #cbc7c7;                  /* Light grey border */
    border-radius: 10px;                      /* Rounded corners */
}

input[type="text"]:focus,
input[type="file"]:focus {
    border-color: #3e98d4;                   /* Blue border on focus */
}

.buttons {
    display: flex;                           /* Flexbox for buttons */
    flex-wrap: wrap;                         /* Wrap buttons to the next line if needed */
    gap: 15px;                               /* Space between buttons */
    justify-content: center; 
}

button {
    font-family: 'Merriweather', serif;
    background: #3498db;                     /* Primary button color */
    color: #fff;                             /* White text */
    padding: 10px 15px;                      /* Padding inside buttons */
    border: none;                            /* No border */
    border-radius: 5px;                      /* Rounded corners */
    cursor: pointer;                         /* Pointer cursor on hover */
    transition: background-color 0.3s;       /* Smooth transition for hover */
}

button:hover {
    background: #2980b9;                     /* Darker shade on hover */
}

.flash {
    padding: 10px;                           /* Padding for flash messages */
    border-radius: 5px;                      /* Rounded corners */
    margin-bottom: 20px;                     /* Space below flash messages */
}

.flash li {
    list-style: none;                        /* No list style for flash messages */
}

.result {
    text-align: center;
    background: #d5f0f4;                     /* Light blue background for results */
    padding: 15px;                           /* Padding inside results */
    border-radius: 5px;                      /* Rounded corners */
    margin-top: 20px;                        /* Space above results */
}

textarea {
    width: 85%;                             /* Full width textarea */
    resize: none;                            /* Prevent resizing of textarea */
    border-radius: 7px;                     /* Rounded corners */
}

@media (max-width: 600px) {
    h1 {
        font-size: 24px;                     /* Smaller font size for h1 on small screens */
    }
    button {
        width: 100%;                         /* Full width buttons on small screens */
    }
}
